html, body {
    height: 100%;
    margin: 0;
}

main {
    min-height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(200, 225, 8);
}
