
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html, body {
    height: 100%;
}

main {
    min-height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(200, 225, 8);
}

h2 {
    font-size: 3rem;
    color: white;
}

/* Task 2: Horizontal nav bar */
nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 64px;
    padding: 10px;
    background-color: lightgreen;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
}


.vertical ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    background-color: #444;
    width: 160px;
    padding: 10px;
    margin-top: 25px;
}

.vertical ul li {
    padding: 10px 0;
}

.vertical ul li a {
    color: white;
    text-decoration: none;
}
