html, body {
    height: 100%;
    margin: 0;
}

main {
    min-height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(200, 225, 8);
}

h2 {
    font-size: 3rem;
    color: white;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 64px;
    flex-direction: row;
    background-color: lightgreen;
}