* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


main {
    min-height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(200, 225, 8);
}

h2 {
    font-size: 3rem;
    color: white;
}

nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 64px;
    padding: 10px;
    background-color: lightgreen;
}


.vertical ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 10px;
    background-color: lightblue;
}

.pane {
    display: flex;
    justify-content: center;

}

.card {
    flex: 1;
}

.mango {
width: 100%;
}
