
html, body {
    height: 100%;
    margin: 0;
}


.color1 { background-color: lightcoral; }
.color2 { background-color: lightgreen; }
.color3 { background-color: lightblue; }
.color4 { background-color: khaki; }
.color5 { background-color: plum; }

.container {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

header,
footer {
    flex: 0 0 150px; 
    text-align: center;
    padding-top: 20px;
    font-size: 2rem;
}


.center {
    flex: 1;  
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
}


nav,
aside {
    flex: 1;   
    padding: 20px;
    font-size: 1.5rem;
}

main {
    flex: 3;  
    padding: 20px;
    font-size: 1.8rem;
}
